.menu{
    border: black solid;
    display: flex;
    height: 50px;
    background-color: black;
    /* text-align: right; */
}

.menu-item{
    position: relative;
    top: 30%;
    margin-right: 10px;
    /* order:3; */
    list-style-type: none;
    color: white;
}

a{
    color: white;
}

a:hover{
    color: blue;
}

.banner{
    /* border: violet solid;     */
    position: relative;
    box-sizing: border-box;
}

.banner-inner{
    /* margin: auto; */
    /* position: relative; */
    background-image: url("https://images.unsplash.com/photo-1493612276216-ee3925520721?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
    height: 400px;
    text-align: center;
    box-sizing: border-box;
    /* border: black solid; */
}

.hide-text{
    height: 30%;
    overflow: hidden;
}

.banner-inner h1{
    position: relative;
    color: white;
    font-size: 50px;
    top: 20%;
    transition: 1s;

}

.banner-inner h3{
    position: relative;
    top: 20%;
    color: white;
    font-size: 50px;
    transition: 1s;
}

.content-inner{
    margin: auto;
    position: relative;
    text-align: center;
}

.content-inner h2{
    font-size: 50px;
}

.content-inner p{
    font-size: 40px;
}

.hide{
    font-size: 15px;
    top: 100%;
}


.animated-title {
    color: #222;
    font-family: Roboto, Arial, sans-serif;
    height: 90vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vmin;

    border: black solid;
  }


  .animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .animated-title > div div {
    font-size: 12vmin;
    padding: 2vmin 0;
    position: absolute;
  }
  .animated-title > div div span {
    display: block;
  }
  .animated-title > div.text-top {
    border-bottom: 1vmin solid #000;
    top: 0;
  }
  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
  .animated-title > div.text-top div span:first-child {
    color: #767676;
  }
  .animated-title > div.text-bottom {
    bottom: 0;
  }
  .animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }

  @keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }