body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: burlywood;
    overflow: hidden;
}

.perspective-text{
    width: 100%;
    position: relative;
    margin-top: 15%;
    color: white;
    font-family: Arial;
    font-size: 13vw;
    font-weight: 900;
    /* letter-spacing: -4px; */
    text-transform: uppercase;
    /* border: hotpink solid; */
}
.perspective-line{
    /* width: 100%; */
    bottom: 0;
    height: 200px;
    overflow: hidden;
    border: blue solid;
    perspective: 800px;
    perspective-origin: -70%;
}

p{
    margin: 0;
    /* height: 90px; */
    line-height: 90px;
    transition: all 0.5s ease-in-out;
    /* border: green solid; */

}

p:nth-child(odd){
    transform: rotateX(0deg) translateY(-250%);
    opacity: 0;
}

p:nth-child(even){
    transform: translateY(-50%);
}

