.numbers-container{
    border: black solid;
    margin: auto;
    position: relative;
    display:list-item;
}

.number-container{
    /* margin: auto; */
    position: relative;
    text-align: center;
    top: 50%;
    width: 50px;
    height: 50px;
    border: black solid;
    transition: 1s;
    /* transform: translate(350px,0); */
}

.move-left{
    /* left:50%; */
    transform: translate(350px,200px);
}

