body{
    margin: 0;
}

.header{
    border: red solid;
}

.first-section{
    border: blue solid;
}

.news-container{
    border: black solid;
    height: 100vh;
}

.second-section{
    border: green solid;
}

.gallery-container{
    border: yellow solid;
    height: 100vh;
}

.image{
    opacity: 0;
    transition: 1s;
}

.align-right{
    float: right;
    transform: translateX(50%) scale(0.50);
}

.align-left{
    float: left;
    position: absolute;
    top: 150%;
    transform: translateX(-50%) scale(0.50);
}

.active{
    opacity: 1;
    transform: translateX(0%) scale(1);
}


.fill-div{
    border: black solid;
    transition: 2s ease-in-out;
    width: 0;
    transform: translateY(0%);
}

.is-active{
    width:100%;
    transform: translateY(100%);
}

.scroll{
    transform-origin: 0px 100% 0px;
}

.container{
    position: relative;
    margin: auto;
    border: 1px solid blue;
    overflow: hidden;;
}

.text{
    position: relative;
    margin: auto;
    border: 1px solid red;
}

.menu{
    position: absolute;
    margin: auto;
    height: 40px;
    background-color: chartreuse;
    border: chartreuse solid;
    width: 0;
    top: 0;
    transition: 1s ease-in-out;
}

.menu:hover{
    width: 30%;
    top: 90%;
}