.menu{
    border: black solid;
    display: flex;
    height: 50px;
    background-color: black;
}

.menu-item{
    position: relative;
    top: 30%;
    margin-right: 10px;
    /* order:3; */
    list-style-type: none;
    color: white;
}

a{
    color: white;
}

a:hover{
    color: blue;
}

.banner{
    /* border: violet solid;     */
    position: relative;
    box-sizing: border-box;
}

.banner-inner{
    /* margin: auto; */
    /* position: relative; */
    background-image: url("https://images.unsplash.com/photo-1493612276216-ee3925520721?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
    height: 400px;
    text-align: center;
    box-sizing: border-box;
    /* border: black solid; */
}

.hide-text{
    height: 30%;
    overflow: hidden;
}

.banner-inner h1{
    position: relative;
    color: white;
    font-size: 50px;
    top: 20%;
    transition: 1s;
    transform: translateY(0);
    animation: appear 1s;
    animation-delay: 0.5s;
}

@keyframes appear {
  0%{transform: translateY(100%);} 
  /* 50%{transform: translateY(50%);}  */
  100%{transform: translateY(0%);} 
}

.banner-inner h3{
    position: relative;
    top: 20%;
    color: white;
    font-size: 50px;
    transition: 1s;
}

.content-inner{
    margin: auto;
    position: relative;
    text-align: center;
}

.content-inner h2{
    font-size: 50px;
}

.content-inner p{
    font-size: 40px;
}

.hide{
    font-size: 15px;
    top: 100%;
}

