.carousels-wrapper{
    /* border: red solid; */
    /* display: flex; */
}

.carousel-container{
    position: relative;
    border: black solid;
    height: 100px;
    overflow: hidden;
    width: 30%;
    margin-left: 70%;
    margin-top: 20%;
}

.slider-right{ 
    width: 100%;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
}



.card-container-right{
    position: relative;
    width: 100%;
    height: 100px;

    box-sizing:border-box;
}



.navigation-button{
    border: blueviolet solid;
    width: 50px;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 40%;

}

.button-up{
    cursor: pointer;
}

.button-down{
    cursor: pointer;
}


.carousel-container-left{
    position: absolute;
    margin-top: -20%;
    left: 10%;
    border: cadetblue solid;
    width: 50%;
    height: 500px;
    overflow: hidden;
}

.image-container{
    padding-top: 100px;
    margin: auto;
    width: 50%;
    height: 400px;
  
}

.image-wrapper{
    border: chocolate solid;
    box-sizing: border-box;
}

.image-container img{
    width: 100%;
    height: 200px;
}

.slider-left{    
    position: absolute;
    width: 100%;
    transition: transform 0.5s;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
}


.card-container-left{
    position: relative;
    width: 100%;
    height: 100px;

    box-sizing:border-box;
}

.image-wrapper h1{
    position: absolute;
    border: hotpink solid;
    left: -200px;
    transition: 0.5s;
}