.projects-list{
    border: blue solid;
}

.project{
    position: relative;
    border: black 1px solid;
    z-index: 0;
    /* position: absolute; */
}

.project-title{
    /* position:absolute; */
    /* top: 50%; */
}

.image{
    opacity: 1;
    transition: 0.5 ease-in-out;
    height: 100px;
    position: absolute;
}

.image-test{
    display: hidden;
    opacity: 0;
    transition: 0.5 ease-in-out;
    height: 200px;
    position: absolute;
    z-index: 0;
    /* top:83px;
    left:140px */
}