.projects-list{
    border: blue solid;
}

.project{
    position: relative;
    border: green solid;
    /* position: absolute; */
}

.project-title{
    /* position:absolute; */
    /* top: 50%; */
}

.image{
    opacity: 1;
    transition: 0.5 ease-in-out;
    height: 100px;
    position: absolute;
}